.alert {
  margin-bottom: 0px;
  position: fixed;
	position: relative;
 	top: 50px;
 	left: 0px;
  z-index: 10000;
}

.container {
	width: 100vw;
  height: 100vh;

}
.home-positon{
	position: relative;
	top: 100px;
	left: 50px;
}
