<h1>Sites#show</h1>
<p>Find me in app/views/sites/show.html.erb</p>
<div>
	サイト名：<%= @site.name %>
	紹介：<%= @site.description %>
	<%= link_to '商品追加', new_product_path %>
	<%= link_to 'サイト内タグ追加', new_tag_path(site_id: @site.id) %>
</div>
